:root {
    --bg_color: #F4F4F4 !important;
}

#project_body {
    width: 100% !important;
    min-height: 100vh !important;
    background-color: var(--bg_color);
    position: relative;
}




.container-f {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .container-f {
        max-width: 960px;
        padding-left: 0;
        padding-right: 0;
    }
}